@value colors: "../../styles/styles/colors.css";
@value concrete from colors;

body {
  background-color: concrete;
}

.wrapper {
	display: grid;
	grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.header {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
}

.search {
  grid-area:  2 / 2 / 3 / 3;
  display: grid;
}

.button {
  grid-area: 3 / 2 / 4 / 3;
  margin-top: -19vw;
}

.results {
  display: flex;
  justify-content: center;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 25px;
  width: 80%;
  margin-top: -10vw;
}

li {
    list-style-type: none;
}
