@value colors: "../../styles/styles/colors.css";
@value concrete, silverSand from colors;

body {
  background-color: concrete;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo {
  width: 15%;
  padding-top: 1%;
}

.inputFields {
  width: 15%;
  border: none;
  border-bottom: 2px solid silverSand;
  background-color: concrete;
}

.inputWrap {
  display: flex;
  justify-content: space-around;
  margin: 3vw;
}
