@value colors: "../../styles/colors.css";
@value silverSand, apple from colors;

.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 630px;
    min-width: 200px;
    height: 40px;
}

.searchbarInputField {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: silverSand;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.2rem;
    padding: 0px;
    padding-left: 10px;
    height: 100%;
    width: 85%;
    border: 0px;
    border-radius: 5px 0px 0px 5px;
}

.searchbarButton {
    background-color: apple;
    color: rgba(255, 255, 255, 0.6);
    height: 100%;
    width: 15%;
    border-radius: 0px 5px 5px 0px;
}
