@value colors: "../../styles/styles/colors.css";
@value suvaGrey from colors;
@import url('https://fonts.googleapis.com/css?family=Montserrat|Pacifico|Roboto&display=swap');
/* Use the following CSS rules to specify these families:

    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
 */

 .avatar {
    display: flex;
    background-color: suvaGrey;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    font-size: 50%;
}
