@import url('https://fonts.googleapis.com/css?family=Montserrat|Pacifico|Roboto&display=swap');
/* Use the following CSS rules to specify these families:

    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
 */
@value colors: "./colors.css";
@value silverSand, apple from colors;

.App {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 7vh;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */
